.line__result-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  .line__result-box {
    flex-direction: column;
    
  }
}

@media screen and (max-width: 650px) {
  .line__result-box {
    margin-top: 15px;
  }
}