.line__win-persent_mod {
  text-align: center;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(112, 186, 255);
}

@media screen and (max-width: 700px) {
  .line__win-persent_mod {
    font-size: 15px;
    line-height: 17px;
  }
}